body {
    background-image: url(https://i.pinimg.com/originals/8b/11/ba/8b11badd0c474062e91f9087f74045cd.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }

#logo {
    height: 100px;
    width: auto;
}

p {
    font-size: 20px;
    text-align: justify;
}

h2 {
    margin-bottom: 25px;
}

h4 {
    text-align: center;
}